body{
    font-family:'Courier New', Courier, monospace;
}

#main{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 37%;
    right: 18%;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
}

ul{
    color: white;
    position: absolute;
    top: 60%;
    right: 40%;
    font-size: 30px;
    text-shadow: 2px 2px 2px #000000;
}

#pizza{
    color: blue;
}